body{
    text-align: center;
  }
  img{
    width: 800px;
    border-radius: 1000%;
    border-style: solid;
    border-width:50px;
    border-color:blue;
  }
  .texts{
    color: red;
  }
  